<div id="page">
    <div id="content">
        <div id="header">
            <h1>Perl is dancing</h1>
            <h2>You&rsquo;ve joined the dance floor!</h2>
        </div>
        <h1>Author: [% this.author %]</h1>
        <pre>[% json %]</pre>
    </div>
</div>
