<div id="page">
    <div id="content">
        <div id="header">
            <h1>Perl is dancing</h1>
            <h2>You&rsquo;ve joined the dance floor!</h2>
        </div>
        <h1>Distribution: [% this.distribution %]</h1>
        <p>Author: <a href="/author/[% this.author %]">[% this.author %]</a></p>
	<p><a href="/distribution/[% this.distribution %]/graph">Dependency Graph</a></p>
        <pre>[% json %]</pre>
    </div>
</div>
