<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Perl Programming" />
  <title>The CPAN Top 100</title>
  <link href="/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<img id="logo" src="logo.png" border="0" />
<form name="graph" action="/graph" method="post">
  <p>Week 3 - Generating and downloading a file</p>
  <p>This application will generate a CPAN dependency graph for a named
distribution.</p>
  <p><b>Distribution:</b> <input name="name" value="" type="text" /></p>
  <p><b>Perl Version:</b>
  <select name="perl">
  <option value="5.005003">Perl 5.5.3  (Ancient IRIX/Unix)</option>
  <option value="5.006001">Perl 5.6.1  (Toolchain Compat)</option>
  <option value="5.008003">Perl 5.8.3  (Oracle PL/Perl)</option>
  <option value="5.008005">Perl 5.8.5  (Unicode Compat)</option>
  <option value="5.008008" selected>Perl 5.8.8  (RedHat/CentOS)</option>
  <option value="5.010001">Perl 5.10.1 (Debian/Ubuntu)</option>
  <option value="5.012001">Perl 5.12.1 (Strawberry Perl)</option>
  </select>
  </p>
  <input name="submit" value="Generate Graph" type="submit" />
</form>
<script language="javascript">
document.graph.name.focus();
</script>
</body>
</html>
